-

  function generateLocalizedRouting(localization) {

    const localizedRouting = {

      top: {
        $heading: localization.topPage.$heading,
        $URI: localization.topPage.URI
      },

      terminology: {
        $heading: localization.terminology.$heading,
        $URI: `@All/Terminology/Terminology.${ localization.fileNameLocalizationExtensions }`
      },

      functionality: {

        $heading: localization.functionality.$heading,

        $children: {

          markupProcessing: {

            $heading: localization.functionality.markupProcessing.$heading,

            $children: {

              basicPugToHTML_Transpiling: {

                $heading: localization.functionality.markupProcessing.basicPugToHTML_Transpiling.$heading,
                $URI: `@All/Functionality/MarkupProcessing/BasicPugToHTML_Transpiling/BasicPugToHTML_Transpiling.${ localization.fileNameLocalizationExtensions }`,

                $sectioning: {

                  incrementalBuilding: {

                    $heading: localization.functionality.markupProcessing.basicPugToHTML_Transpiling.incrementalBuilding,
                    $anchor: "incremental_building--section",
                    get $URI() {
                      return `${ localizedRouting.functionality.$children.markupProcessing.$children.basicPugToHTML_Transpiling.$URI }#${ this.$hash }`;
                    },

                    $children: {

                      optimizations: {
                        $heading: "Optimizations",
                        $anchor: "optimization--section"
                      }

                    }

                  },

                  outputHTML_Formatting: {
                    $heading: "Output code formatting",
                    $URI: "#"
                  },

                  buildInPugFilters: {
                    $heading: "Build-in Pug filters",
                    $URI: "#"
                  },

                  buildInGlobalVariables: {
                    $heading: "Build-in global variables",
                    $URI: "#"
                  }

                }

              },

              HTML_Validation: {
                $heading: "Output HTML code validation",
                $URI: `@All/Functionality/MarkupProcessing/HTML_Validation/HTML_Validation.${ localization.fileNameLocalizationExtensions }`,
              },

              resourcesReferencesResolving: {
                $heading: "Resources references resolving",
                $URI: `@All/Functionality/MarkupProcessing/ResourcesReferencesResolving/ResourcesReferencesResolving.${ localization.fileNameLocalizationExtensions }`,
              },

              staticPreview: {

                $heading: "Static preview",

                $children: {

                  pageStateDependentVariations: {
                    $heading: "Pages state dependent variations",
                    $URI: `#`
                  },

                  mockData: {
                    $heading: "Mock Data",
                    $URI: "#"
                  }

                }

              },

              outputAsHandlebarsTemplates: {
                $heading: "Output as handlebars templates"
              }

            }

          }

        }

      },

      configuration: {

        $heading: localization.configuration.$heading,

        $children: {

          markupProcessing: {
            $heading: localization.configuration.markupProcessing.$heading,
            $URI: `@All/Configuration/MarkupProcessing/MarkupProcessingConfiguration.${ localization.fileNameLocalizationExtensions }.pug`
          }

        }

      }

    };

    return localizedRouting;

  }
